<div style="text-align:center">
    <h2>Pipes : Built-in</h2>
    <h2>{{todayDate | date:"dd-MM-yy"}}</h2>
    <h3>{{currency | currency:'INR':true}} </h3>
              <table border="1">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                         <td>{{user.name | uppercase}}</td>
                         <td>{{user.location}}</td>
                      </tr>
                    </tbody>
                                
              </table>
          
</div>
